{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CRUD de Tareas</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</head>
<body>
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row" style="margin-left: 35%;">
                        <div class="col-sm-8"><h2>Control de Tareas</b></h2></div>
                        <div class="col-sm-4">
                            <div class="search-box">
                                <i class="material-icons">&#xE8B6;</i>
                                <input type="text" id="searchText" class="form-control" placeholder="Buscar...">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" style="margin-left: -1%;">
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-primary active" id="btnAllTasks">Todas</button>
                            <button type="button" class="btn btn-outline-success" id="btnResolvedTasks">Terminadas</button>
                            <button type="button" class="btn btn-outline-danger" id="btnUnresolvedTasks">Pendientes</button>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered" id="task-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Título</th>
                            <th>Descripción</th>
                            <th>Resuelta</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Las filas de tareas se agregarán dinámicamente aquí -->
                        {% for task in tasks %}
                        <tr>
                            <td>{{ task.id }}</td>
                            <td>{{ task.title }}</td>
                            <td>{{ task.description }}</td>
                            <td>{{ task.resolved }}</td>
                            <td>
                                <a href="#" class="edit" title="Editar" data-toggle="modal" data-target="#editModal"><i class="material-icons">&#xE254;</i></a>
                                <a href="#" class="delete" title="Eliminar" data-toggle="modal" data-target="#deleteModal"><i class="material-icons">&#xE872;</i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- Botón para abrir el modal de creación de tarea -->
<button type="button" style="margin-left: 0%;" class="btn btn-success" data-toggle="modal" data-target="#createModal">
    Crear Nueva Tarea
</button>
            </div>
        </div>  
    </div>

<!-- Modal para editar tarea -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Editar Tarea</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="editTaskId">
                <div class="form-group">
                    <label for="editTaskTitle">Título</label>
                    <input type="text" class="form-control" id="editTaskTitle">
                </div>
                <div class="form-group">
                    <label for="editTaskDescription">Descripción</label>
                    <textarea class="form-control" id="editTaskDescription"></textarea>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="editTaskResolved">
                    <label class="form-check-label" for="editTaskResolved">¿Resuelta?</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="updateTask()">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>


  <!-- Modal de confirmación de eliminación -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Confirmar eliminación</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ¿Estás seguro de que deseas eliminar esta tarea?
          <input type="hidden" id="deleteTaskId">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger" id="confirmDelete">Eliminar</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Crear Nueva Tarea</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="createTaskTitle">Título</label>
                    <input type="text" class="form-control" id="createTaskTitle">
                </div>
                <div class="form-group">
                    <label for="createTaskDescription">Descripción</label>
                    <textarea class="form-control" id="createTaskDescription"></textarea>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="createTaskResolved">
                    <label class="form-check-label" for="createTaskResolved">¿Resuelta?</label>
                </div>
                <!-- Campo oculto para el usuario -->
                <input type="hidden" id="createTaskUser" value="1">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="createTask()">Guardar</button>
            </div>
        </div>
    </div>
</div>
  
  

    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
